## Sis-copilot custom:
.sis-copilot/
.git

venv
env
node_modules
**/build/
build
out

docs/demo
taskflow/public
taskflow/node_modules
taskflow/package-lock.json
*.ico
*.png
# Ignore the .next folder in the root and any subdirectories
.next/
**/.next/
taskflow/playwright-report